<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.offerland.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.offerland.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.offerland.app.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"></activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".UpdateInterestListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".RequestOfferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".OfferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".OfferMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".StoreOffersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>


        <receiver android:name="receivers.LocationUpdaterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.hmkcode.android.gcm" />
            </intent-filter>
        </receiver>

        <service android:name="services.GcmMessageHandler" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_key" />
    </application>

</manifest>
